name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    needs: build
    name: Test 
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.17
        
    - name: Unit Test
      run: go test -v -race ./...
    
    - name: Test Benchmark
      run: go test ./test/benchmark -bench . -benchmem
    